<div class= "w-5/6 mx-auto max-w-screen-xl">
<div class="text-xl mt-20 flex justify-center h-screen w-full"> 
<div class="w-full h-full flex flex-col">
<%= form_with model: @article do |form| %>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, placeholder: 'タイトル', class: 'textarea textarea-bordered mb-4 w-full'%>
    <br>
    <%= form.label :body, "本文" %>
    <%= form.text_area :body, placeholder: '本文', class: "textarea textarea-bordered w-full mb-4 h-full" %>
    <%= form.submit "投稿する" %>
  </div>
    <% end %>
  </div>
</div>

<div class= "w-5/6 mx-auto max-w-screen-xl">
  <div class="absolute top-40 right-10">
  <p>HOW TO USE </p>
  <%=link_to 'テンプレート', new_template_path, data: { turbo_frame: 'modal' } %><br>
  <%=link_to 'Miniita Bot', openai_tests_show_path %>
</div> 
</div>
