<div class= "w-5/6 mx-auto max-w-screen-xl ">
  <h1 class="text-3xl mt-20 flex justify-center"><%= @article.title %></h1>
  <h2 class="text-base mt-10 flex justify-center"><%=@article.created_at %></h2>
  <h3 class="text-2xl mt-10 flex justify-center"><%= markdown(@article.body).html_safe %></h3>


    <div class= "flex justify-between mt-20 lg:justify-center lg:space-x-10">
      <% if @article.created_by?(current_user)%>
        <%=link_to '編集', edit_article_path(@article)%>
        <%=link_to '削除', article_path(@article), data: { turbo_method: :delete, turbo_confirm: '投稿を削除しますか？' }%>
      <% end %>

      <%= render 'shared/favorite' %>
      <%= render 'shared/twitter' %>
    </div>
</div>