<div class= "w-5/6 mx-auto max-w-screen-xl ">
  <h1 class="text-3xl mt-20 flex justify-center"><%= @article.title %></h1>
  <h2 class="text-base mt-10 flex justify-center"><%=@article.created_at %></h2>
  <h3 class="text-2xl mt-10 flex justify-center"><%= @article.body %></h3>

<div class= "flex justify-between mt-20 lg:justify-center lg:space-x-10">
<% if @article.favorited?(current_user, :like_first) %>
  <div class="tooltip" data-tip="参考になった">
    <%= link_to article_favorite_path(@article.id, type: :like_first), data: { turbo_method: :delete }, class: "unlike-button-1" do %>
      <i class="bi bi-arrow-through-heart-fill"></i>
     <%= @article.favorites.where(favorite_type: 'like_first').count %>
    <% end %>
  </div>
<% else %>
  <%= link_to article_favorites_path(@article.id, type: :like_first), data: { turbo_method: :post }, class: "like-button-1" do %>
    <i class="bi bi-arrow-through-heart"></i>
     <%= @article.favorites.where(favorite_type: 'like_first').count %>
  <% end %>
<% end %>

<% if @article.favorited?(current_user, :like_second) %>
  <%= link_to article_favorite_path(@article.id, type: :like_second), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
    <i class="bi bi-balloon-heart-fill"></i>
     <%= @article.favorites.where(favorite_type: 'like_second').count %>
  <% end %>
<% else %>
  <%= link_to article_favorites_path(@article.id, type: :like_second), data: { turbo_method: :post }, class: "like-button-2" do %>
    <i class="bi bi-balloon-heart"></i>
     <%= @article.favorites.where(favorite_type: 'like_second').count %>
  <% end %>
<% end %>

<%= link_to "https://twitter.com/intent/tweet?url=#{articles_url}&text=【Miniita】に記事を投稿しました%0a%0a%23Miniita %23技術記事をもっと身近に %23毎日の記録に%0a%0a", 
:onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", class: "btn btn-primary", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェアする" do %>
  Xでシェアする
  <% end %>
</div>
</div>
