<div class= "w-5/6 mx-auto max-w-screen-xl lg: flex justify-center">
<%= form_with model: @user do |form| %>
  <%= form.label :name, "名前" %>
  <%= form.text_field :name, placeholder: '名前' %>
  <br>
  <%= form.label :email, "メールアドレス" %>
  <%= form.text_field :email, placeholder: 'メールアドレス' %>
  <br>
  <%= form.label :password, "パスワード" %>
  <%= form.password_field :password, placeholder: 'パスワード' %>
  <br>
  <%= form.label :password_confirmation, "パスワード確認" %>
  <%= form.password_field :password_confirmation, placeholder: 'パスワード確認' %>
  <br>
  <%= form.submit "登録"%>
<% end %>
</div>


