<div class= "w-5/6 mx-auto max-w-screen-xl">
  <div class="text-xl mt-20 flex justify-center">
 <%= form_with url: login_path do |form| %>
  <%= form.label :email, "メールアドレス" %>
  <%= form.text_field :email, placeholder: 'メールアドレス' %>
  <br>
  <%= form.label :password, "パスワード"%>
  <%= form.password_field :password, placeholder: 'パスワード' %>
  <br>
  <%= form.submit "ログイン" %>
<% end %>
</div>
</div>

